.DS_STORE
*.log

node_modules

dist
coverage
elevation/USGS_NED_13_n44w072_ArcGrid
elevation/USGS_NED_13_n45w072_ArcGrid
elevation/combined.tif
elevation/USGS_NED_13_n44w072_ArcGrid.zip
elevation/USGS_NED_13_n45w072_ArcGrid.zip
elevation/combined-halfed.tif
elevation/contour-feet.cpg
elevation/contour-feet.dbf
elevation/contour-feet.geojson.old.geojson
elevation/contour-feet.prj
elevation/contour-feet.shp
elevation/contour-feet.shx
elevation/contour-feet.tmp.dbf
elevation/contour-feet.tmp.geojson
elevation/contour-feet.tmp.prj
elevation/contour-feet.tmp.shp
elevation/contour-feet.tmp.shx
elevation/contour-feet.zip
elevation/contour-halfed-feet.cpg
elevation/contour-halfed-feet.dbf
elevation/contour-halfed-feet.prj
elevation/contour-halfed-feet.shp
elevation/contour-halfed-feet.shx
elevation/contour-halfed-feet.tmp.dbf
elevation/contour-halfed-feet.tmp.prj
elevation/contour-halfed-feet.tmp.shp
elevation/contour-halfed-feet.tmp.shx
elevation/upload.zip
