/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/


/*----------
/ Variables
-----------*/

// Friends of Tuckerman Ravine Colors
$fotr-green: #036240;
$fotr-blue: #0A72CE;


// Header colors
$header: $fotr-blue;

// Info list colors
$info-background: $fotr-green;
$info-default: white;
$info-highlight: $fotr-blue;
// Line colors
$line-color: #afdcf8;
$line-color: lighten($fotr-blue, 30%);
$line-dark-color: $fotr-blue;



h1 {
  margin: 0;
}

.page-container, .view-container, #inferno-flex {
  height: 100%;
}

#header {
  color: white;
  padding-left: 1em;
  background: $header;
  position: absolute;
  width: 100%;
}

#main {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
  height: 100%;
  padding-top: 37px;
}

#info {
  background-color: $info-background;
  overflow-y: scroll;
  -webkit-flex: 1 1 30%;
          flex: 1 1 30%;
  ul {
    padding: 0;
    list-style: none;
    position: relative;
  }
  // The line
  ul:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: $line-color;
    left: 12%;
    margin-left: -10px;
  }

  li {
    position: relative;
    .stage-info {
      margin: 0 0 15px 20%;
      background: $info-default;
      border-left: white solid 5px;
      position: relative;

      // The arrow
      :after {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: $info-default;
        border-width: 10px;
        top: 10px;
      }
      .stage-name {
        color: $fotr-green;
        font-size: 1.2em;
        padding-bottom: 5px;
        margin-bottom: 0;

      }
      .description {
        img {
          max-width: 100%
        }
      }
    }
    .stage-icon {
      height: 20px;
      width: 20px;
      max-width: 20px;
      max-height: 20px;
      position: absolute;
      background: $line-dark-color;
      border-radius: 50%;
      box-shadow: 0 0 0 8px $line-color;
      left: 12%;
      top: 0;
      margin: 10px 0 0 -15px;
    }
  }

  li.start, li.leg, li.finish {
    .stage-icon {
      width: 40px;
      height: 40px;
      max-width: 40px;
      max-height: 40px;
      margin: 0 0 0 -25px;
    }
  }

  // style the currently selected item
  li.highlight {
    .stage-info {
      border-color: $info-highlight;
      border-left-size: 10px;
      border-left-style: solid;
      .stage-name {
        background-color: $info-highlight;
        color: white
      }
      :after {
        border-right-color: $info-highlight;
        border-width: 15px;
        top: 5px;
      }
    }
    .stage-icon {
      box-shadow: 0 0 0 8px $info-highlight;
      background-color: darken($info-highlight, 20%);
    }
  }

  li.transition {
    .stage-icon {
      width: 30px;
      height: 30px;
      max-width: 30px;
      max-height: 30px;
      margin: 5px 0 0 -20px;
    }
  }
}

#main-column {
  -webkit-flex: 1 1 70%;
          flex: 1 1 70%;
  -webkit-order: 2;
          order: 2;
  height: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: column;
          flex-flow: column;
  background-color: gray;
}

#map {
  -webkit-flex: 1 1 70%;
          flex: 1 1 70%
}

.leaflet-popup-content-wrapper {
  padding: 0;
}
.leaflet-popup-content {
  padding: 0;
  padding-top: 0 !important;
  border-radius: 3px;
  h3 {
    margin: 0;
    color: white;
    text-align: center;
    background-color: $fotr-blue;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px;
  }
  .description {
    padding: 0px 5px 5px 5px;
    img {
      max-width: 100%;
    }
  }
}

@media all and (max-width: 640px) {
  #main, #main-column, #info, #elevation, #map {
    display: block;
  }

  #elevation {
    height: 300px;
  }

  #map {
    height: 70vh;
  }

  #main-column {
    height: auto;
  }
}

// Fixing the leaflet-locate control
.leaflet-control-container .leaflet-bar-part-single {
  .fa-map-marker {
    margin-top: 4px;
    margin-left: 9px;
  }
  .fa-spinner {
    margin-top: 4px;
    margin-left: 5px;
  }
}
