/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

h1 {
  margin: 0;
}

.page-container, .view-container, #inferno-flex {
  height: 100%;
}

#header {
  background-color: red;
  position: absolute;
  width: 100%;
}

#main {
  background-color: green;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
  height: 100%;
  padding-top: 37px;
}

#info {
  background-color: green;
  overflow-y: scroll;
  -webkit-flex: 1 1 30%;
          flex: 1 1 30%;
  ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  // The line
  ul:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 12%;
    margin-left: -10px;
  }

  li {
    position: relative;
    .stage-info {
      margin: 0 0 15px 20%;
      background: white;
      //background: #3594cb;
      //color: #fff;
      //padding: 2em;
      position: relative;

      // The arrow
      :after {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        //border-right-color: #3594cd;
        border-right-color: white;
        border-width: 10px;
        top: 10px;
      }
    }
    .stage-icon {
      max-width: 20px;
      max-height: 40px;
      position: absolute;
      background: #46a4da;
      border-radius: 50%;
      box-shadow: 0 0 0 8px #afdcfa;
      left: 12%;
      top: 0;
      margin: 10px 0 0 -15px;
    }
    .start, .leg, .finish {
      .stage-icon {
        max-width: 40px;
        max-height: 40px;
      }
    }
  }
  li.start, li.leg, li.finish {
    .stage-icon {
      max-width: 40px;
      max-height: 40px;
      margin: 0 0 0 -25px;
    }
  }
  li.transition {
    .stage-icon {
      max-width: 30px;
      max-height: 30px;
      margin: 5px 0 0 -20px;
    }
  }
}

#main-column {
  -webkit-flex: 1 1 70%;
          flex: 1 1 70%;
  -webkit-order: 2;
          order: 2;
  height: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: column;
          flex-flow: column;
  background-color: gray;
}

#elevation {
  background-color: yellow;
  -webkit-flex: 1 1 30%;
          flex: 1 1 30%;
}

#map {
  background-color: blue;
  -webkit-flex: 1 1 70%;
          flex: 1 1 70%
}

@media all and (max-width: 640px) {
  #main, #main-column, #info, #elevation, #map {
    display: block;
  }

  #elevation {
    height: 300px;
  }

  #map {
    height: 500px;
  }

  #main-column {
    height: auto;
  }
}
